# Per-instance database files
# Anchored at top-level:
/*.lmdb/
/*.index
/cli-p.conf
/.vscode

# Python virtual environment
# Anchored at top-level:
/env/

# Build results
# Anywhere:
__pycache__/

# Several IDEs per-user files
.eric6project/
